APP_NAME="DagangCommerce"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_PORT=8000

DB_CONNECTION=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=dagangcoomerce
DB_USERNAME=muhfaiizr
DB_PASSWORD=admin
DB_SSLMODE=disable

JWT_SECRET=
JWT_EXPIRE_HOURS=72
